@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@iconscout/unicons@4.0.8/css/line.min.css");
@import "pre.css";

body {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5,h6 {
    font-family: 'Nunito', sans-serif;

}

.custom-section {
    padding: 40px 0;
}

.hero-content{
    padding: 100px 0;

}


.content{
    margin: 12px;
}


.image-spliter, .mover, img {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.image-spliter {
    position: relative
}

.img-left, .mover {
    position: absolute;
    top: 0;
    left: 0
}

.mover {
    width: 200px;
    height: 100%;
    z-index: 10
}

.mover:after, .mover:before {
    position: absolute;
    left: 50%;
    content: "";
    background: #fff;
    cursor: -webkit-ew-resize;
    cursor: ew-resize
}

.mover:before {
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1px;
    height: 100%
}

.mover:after {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #536de6;
    border-radius: 50%;
    font-family: unicons;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    font-size: 20px;
    color: #fff;
    content: "";
    line-height: 36px;
    height: 36px;
    width: 36px
}

.side-nav-title{
    margin-left: 24px;
}

.hero {
    padding: 0px 0 0;
    .hero-content {
        position: relative;
        z-index: 1;
    }
}
.section {
    padding: 100px 0;
}

.lh_1-6 {
    line-height: 1.6;
}

.lh_1-4 {
    line-height: 1.4;
}
.bottom-shape {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: -12%;
    width: 100%;
}

.img-mover {
    animation: mover 1.2s infinite alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

.landing-footer {
    padding: 100px 0 0;
    background-image: url("../images/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.footer-social-one {
    a {
        border-radius: 50%;
        text-align: center;
        background-color: rgba(white, .08);

        width: 34px;
        display: block;
        height: 34px;
        line-height: 34px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: white;
            color: dark;
        }
    }
}